#headtxt {
  font-family: verdana;
  color: darkgoldenrod;
  text-align: center;
}
.kittybobpng1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
#p1BitGkitw {
  font-family: verdana;
  color: darkgoldenrod;
  text-align: center;
}
